* {
    font-size: 18pt;
    font-family: "IBM Plex Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6, strong, dt, th {
    font-family: "IBM Plex Sans Semibold", sans-serif;
    font-weight: normal;
}

h1 { font-size: 28pt; }
h2 { font-size: 24pt; }
h3 { font-size: 22pt; }
h4 { font-size: 20pt; }
h5 { font-size: 19pt; }
h6 { font-size: 18pt; }

table { border-collapse: collapse; }
table, td, th { border: 1pt solid black; }
td, th { padding: 2pt 4pt; }
th {
    background-color: black;
    color: white;
}

h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
    margin-top: 0;
}

input[type=button], input[type=submit], button {
    border: 4pt outset #f0f0f0;
    color: black;
    background-color: lightgrey;
}

body {
    margin: 0;
    padding: 0;
    background-color: #feffff;
}

header, main, footer { padding: 24pt; }

header {
    display: flex;
    align-items: center;
}

header>* { margin-right: 1em; }

nav {
    padding: 6pt 24pt;
    background-color: #ffd6b8;
}

nav ul, nav li {
    padding: 0;
    margin: 0;
    list-style: none;
}

nav ul { display: flex; }
nav li { margin-right: 2em; }

p:first-child { margin-top: 0; }
p:last-child { margin-bottom: 0; }

.window-frame {
    border: 2.5pt outset;
    padding: 3pt;
    background-color: lightgrey;
}

.window-body {
    border: 2.5pt inset;
    background-color: white;
}

.window-titlebar {
    padding: 4pt;
    min-height: 30pt;
    line-height: 30pt;
    color: white;
    background-color: darkblue;
    font-family: "IBM Plex Sans Semibold", sans-serif;
}

.window-titlebar::after {
    display: block;
    float: right;
    content: "✕";
    text-align: center;
    line-height: 22pt;
    width: 22pt;
    height: 22pt;
    border: 4pt outset white;
    color: black;
    background-color: lightgrey;
}

.window-urlbar {
    display: flex;
    padding: 4pt 8pt;
    align-items: center;
    background-color: lightgrey;
}

.window-urlbar::before {
    margin-right: 0.5em;
    font-size: 125%;
    content: "←  →  ⟳";
}

.window-urlbar::after {
    font-size: 125%;
    content: "☰";
}

.window-urlbar-url {
    flex-grow: 2;
    padding: 4pt 8pt;
    margin: 2pt 0.5em 2pt 0;
    border: 1pt solid grey;
    border-radius: 4pt;
    background-color: white;
    font-size: 90%;
}

