header, footer { background-color: #ffd6b8; }
.bp186 { text-align: left; }
.bp002 p { font-size: 140%; }
.bp005 abbr {
    display: inline-block;
    position: relative;
}
.bp005 abbr::after {
    position: absolute;
    display: flex;
    left: 102%;
    top: 40%;
    font-size: 80%;
    padding: 0.25em 0.5em;
    content: attr(title);
    border: 1pt solid black;
    border-radius: 4pt;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    min-width: 13em;
}

.bp008 .advert::before {
    position: absolute;
    display: inline-block;
    top: -32pt;
    left: -2pt;
    padding: 4pt 8pt;
    content: "Publicité";
    background-color: black;
    color: white;
}

.bp008 .advert {
    position: relative;
    margin-top: 48pt;
    border: 2pt solid black;
    padding: 4pt 8pt;
}

.bp011 .abuse {
    display: block;
    text-align: right;
}

.bp012 td {
    width: 3em;
    text-align: right;
}
